<h1>My Restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant.id) %></li>
  <% end %>
</ul>
<%# <p> <%=link_to "add a new article", new_article_path %></p> %>
